{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<h1 style="text-align:center">{{receiver}}</h1>
<h2 style="text-align:center"> Send</h2>
<div style="text-align:center">
    {% for message in messages%}

    <div>
        <div>Sent by you</div>
        {{message.message}}
        {{message.timestamp}}
        <div style="margin-top:20px"></div>
    </div>

    {% endfor %}
</div>

    <h2 style="text-align:center">Received</h2>
<div style="text-align:center">
        {% for message in received%}
    
        <div>
            <div>Sent by {{message.sender_name}}</div>
            {{message.message}}
            {{message.timestamp}}
            <div style="margin-top:20px"></div>
        </div>
    
        {% endfor %}
    </div>
<form method="post">
    {% csrf_token %}
    
    <div style="text-align:center;margin: 10px auto">
        {{form.message}}
    </div>
    <div style="text-align:center"">
        <button type="submit" class="btn bg">Send Message</button>
    </div>
</form>