<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi {{request.user}}</title>
</head>
<body>

<h1 style="text-align:center">Hi {{request.user}}</h1>


<form method="post">
    {% csrf_token %}
    <div style="text-align:center">
        <span>To</span>
        <select style="text-align:center" name="dropdown">
            {% for user in users %}
            <option value={{user.username}}>{{user.username}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="text-align:center;margin: 10px 0">
        {{messageform.message}}
    </div>
    <button type="submit" style="display:block;margin:10px auto">Send Message</button>
</form>


<div>
    {% for msg in messages %}
    <div style="border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0">
        <span>{{msg.sender_name}} --->  {{msg.receiver}}</span>
        <p>{{msg.message}}</p>

    </div>
    {% endfor %}
</div>


</body>
</html>