<!DOCTYPE html>
{% load static %}

<html lang="en" style="margin:0">
<head>
    <meta charset="UTF-8">
    <title>Hey {{request.user}} :D</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

</head>
<body>
<div style="background:#39464e;width:100%">
    <h1 class="user">Hey {{request.user}}</h1>
    <div class="users-div"><a href="#" class="users-anchor">Users</a></div>
</div>


<div class="msg-msg-container">
    {% for msg in messages %}
    <div class="msg-container">
        <span>{{msg.sender_name}} --->  {{msg.receiver}}</span>
        <p>{{msg.message}}</p>

    </div>
    {% endfor %}
</div>

<form method="post">
    {% csrf_token %}
    <div style="text-align:center; margin-top:30px">
        <span class="to">To</span>
        <div class="select">
            <select style="text-align:center" name="dropdown">
                {% for user in users %}
                <option value={{user.username}}>{{user.username}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div style="text-align:center;margin: 10px auto">
        {{messageform.message}}
    </div>
    <div class="container">
        <button type="submit" class="btn bg">Send Message</button>
    </div>
</form>


</body>
</html>