<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'login.css'%}">
  <title>Login</title>
</head>
<div>
  <div class="login">


    <h2 class="login-header">Log in</h2>

    <form class="login-container" method="POST">
        {% csrf_token %}
      <p><input type="text" placeholder="Username" name="username"></p>
      <p><input type="password" placeholder="Password" name="password"></p>
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>
</div>

<body>
</body>

</html>