<!DOCTYPE html>
{% load static %}

<html lang="en" style="margin:0">
<head>
    <meta charset="UTF-8">
    <title>Hey {{request.user}} :D</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">
</head>
<body>
<div style="background:#39464e;width:100%">
    <h1 class="user-users">Hey {{request.user}}</h1>
</div>


<div class="user-cont">
    <ul class="user-list">
        {% for user in users %}
        <li><a href={%url 'message-user' user.username %} class="users-anchor" style="color: black">{{user.username}}</a></li>
        {% endfor %}


    </ul>
</div>


</body>
</html>